@import 'https://fonts.googleapis.com/css?family=Comfortaa:300,400,700&subset=cyrillic,cyrillic-ext,latin-ext';
.main {
  background-color: #cccccc;
  display: flex;
  min-height: 100vh;
  font-size: 0;
}


.box {
    margin: 2em 0;
    font-weight: bold;
    color: #6091d3;/*文字色*/
    border-radius: 10px;/*角の丸み*/
    float: left;
    width: 32%;
    margin: 5% auto;
    background-image: url(cloud.png); 
    background-size:100% 100%;
    position:relative;
    font-size; initial;
}


.leftNavigation{
    width: 250px;
    background-color: #888;
    color: #fff;
}


.id {
   position:relative;
   width: 40%;
   z-index: 3;
   background-size:  cover; 
   text-align: center;
   background-color: #FF00FF;
}

.id:hover {
  background-color: #0000FF;
}

.maintl {
  flex: 1;
  margin-left: 10px;
}

.box:hover{
  z-index: 3;
}



.box p {
    margin: 0; 
    padding: 0;
}

.tweet-image img {
  border-radius: 50%;
  border: 2px solid #00ff00;
}

a { text-decoration: none;}
a:hover { text-decoration: none;}

.btn {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0;
  text-decoration: none;
  color: #67c5ff;  
}

.btn:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  top:100%;
  left: 0;
  border-radius: 3px;
  background:#67c5ff;
  transition: .2s;
}

.btn:hover:before {
  top: -webkit-calc(100% - 3px);
  top: calc(100% - 3px);
}